* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #17060D;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    font-family :sans-serif;
}

.top-navigation-bar{

    height : 100%;
    width : 100%;
    border-radius: 0px;
    padding-top: 5vh;
}

.navbar {
    position : absolute;
    width : 100%;
    background-color : transparent;
    display: flex;
    gap : 20%;
    justify-content: center;
    padding : 0 10% 0 10%;    
}

.navbar-group1 , .navbar-group2 {
    display : flex;
    gap : 20%;
    justify-content: center;
}

.contact {
    font-size: 3vh;
    padding : 30px 0px;
    color :  #FFF2F5;
}

.navbar-logo {
    width : 100%;
}

.navbar-logo-logo {
    width: 100%;
}

.main__body {
  text-align: center;
  font-size: 6vh;
}

.hero__container {
    display : flex;
}

.foot{
    position : realtive;
}

.foot-step {
width : 50%;
margin-top: 150px;
}

img.foot-step.second-foot{
    margin-right: 90%;
}

.hero__container__text {
    position: relative;
    color: white;
    padding : 150px 100px;
    justify-items: center;

}

.flex {
    display: flex;
}

.white {
    background-color: white;
}

.ladki {
    width : 70%;
    margin: 100px;
}
.wpfoot{
    width: 96.54px;
    height: 182.47px;
    transform: rotate(-15.21deg);
    padding-left:220px;
    padding-top: 100px;
    z-index: 99;
   
}
.wpfoot2{
    width:91.52px;
    height: 177.43px;
    transform: rotate(-27.76deg);
  padding-left: 350px;
  padding-bottom: 500px;
  z-index: 99;
}
.wpfoot3{
    width:94.15px;
    height:187.09px;
    transform: rotate(-71.52deg);
    padding-left: 50px;
    padding-top: 200px;
    z-index: 99;
}
.wpfoot4{
    width:91.9px;
    height:176.72px;
    transform:rotate(-74.96deg) ;
   padding-left: 400px;
   padding-top: 300px;
   z-index: 99;
}
.wpfoot5{
    width:96.54px ;
    height:182.47px ;
    transform: rotate(-79.14deg);
   padding-left:150px ;
   padding-top: 300px;
   z-index: 99;
}
.wpfoot6{
    width:96.54px ;
    height:182.47px ;
    transform: rotate(-65.14deg);
   padding-top: 250px;
   padding-left: 450px;
}
.wpfoot7{
    width:93.12px ;
    height:174.36px ;
    transform: rotate(-32.08deg);
   padding-left: 290px;
   z-index: 99;
}
.wpfoot8{
    width:150.77px;
    height: 300.01px;
    transform: rotate(38deg);
    padding-bottom: 20px;
    padding-left: 1700px;
}
.foot8{
    width:250.77px;
    height: 300.01px;
}
.wpfoot9{
    width: 200px;
    height:350px ;
    padding-left: 1000px;
    padding-bottom: 1000px;
    transform: rotate(40deg);

}
.foot9{
    width: 250px;
    height:350px ;
}
.wplpfoot{
    width:449px;
    height:449.06px;
    padding-left:200px;
    padding-top: 100px;
    opacity: 1;
    
}
.wpdpfoot{
    width:381.2px;
    height:407.59px;
    padding-right: 4000px;
    padding-top: 160px;
   
}
.grppp{
    width: 500px;
    height:384px;
    padding-left: 100px;
}
.twof{
    width: 449px;
    height: 449.06px;
    padding-left: 900px;
}


.footer{
    padding : 10% 10%;
}

.footer-area {
    background-color: #17060D;
   
    bottom: 0;
}

.footer-area-1 {
    display :flex;
    justify-content : space-around;
   
} 

.section1, .section2, .section3, .section4, .section5 {
    color : white;  
}

.company, .support, .safety, .faq, .product {
    list-style-type: none; 
}

a {
    text-decoration: none;
    color : white;
}

li {
    padding-bottom: .8em;
}

ul {
    padding-bottom: 1em; 
}

.footer-area-2 {
    color: white;
}

.footer-area-3 {
    display :flex;
    justify-content : space-around;
}

.footer-logo {
    width: 40%;
    margin: 30px 0px 40px 0px;
}

.foot{
    position : realtive;
}


.foot-step {
width : 100%;
margin-top: 70px;
}

img.foot-step2{
    margin-right: 90%;
    padding: 50px;
    width : 90%;
    margin-top: -200px;
}

.foot_flex{
    display : flex;
    justify-content:space-evenly;
}

.foot-step3{
    margin-left: 200px;
    width :80%; 
    margin-top: -130px;
}

.foot-step4 {
    width : 100%;
    margin-top: -100px;

}

.foot_flex2{
    display : flex;
    justify-content:start;
    gap: 20%;
}

.foot-step5 {
    width :7cm;
    margin-top: 70px;
}

.foot-step6{
    width: 9cm;
    margin-top: 70px;
}

.foot_flex3{
    justify-content: start;
    display: flex;
    gap: 20%;
}

.foot-step7 {
    width : 120%;
    margin-top:-70px;
}

.foot-step8 {
    width : 120%;
}

.foot_flex4{
    justify-content: start;
    display: flex;
    gap: 20%;
    margin-left: 10%;
}

.foot-step9 {
    width : 120%;
}

.foot-step10 {
    width : 120%;
}
.foot-step11 {
    width : 120%;
    margin-top:-70px;
}

.foot_flex4{
    justify-content: end;
}

.foot-step12{
    width : 30%;
    margin-right: 40px;
    margin-top: -30%;
}

.foot_flex5{
    justify-content: end;
    display: flex;
    gap : 25%;
    margin-right: 20%;
}

.foot-step13 {
    width : 180%;
    margin-top: 50%;
}

.foot-step14 {
    width : 180%;
}
























